.deteals-model{
    background: ;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    
    top: 0;
    justify-content: center;
    align-items: center;
}
.imshow{

    border-radius: 1em;
    margin: .1em;
}
.show-now-detials{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    margin-left: 2%;
    margin-top: 1em;

}
.show-now-detials>div{
    width: 80%;
    height: auto;
    background-color: ;
    display: flex;
    flex-direction: column;
    margin: 4%;
    box-shadow: #f9fafc;
    align-items: center;
    box-shadow: 0 10px 10px #999;

}
.card{
    padding: 2px;
    display: flex;
    flex-direction: column;
}
.note{

    background: wheat;
    border-left: 1px solid yellow;
    width: 90%;
    height: 20%;
    margin-top: 10%;
}
.note-option{
padding: 1%;
    margin: 0%;
    display: flex;
    flex-direction: row;
}
.note-option>input{
    width: 100%;
    margin: 1.5em;
    height: 40%;
}