:root{
   
}
body , html {
    font-family:sans-serif ;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

/* ---------------- header style ------------------ */
.nav1 {
    display: flex;
   flex-direction: row;
    background: var(--nav-color);
    width: 100%;
    height: 2rem;
    color: white;
    font-size: 1rem;
    margin-top: 10px;
    align-items: center;
   

}
.se-div{
width: 70%;
margin-left: 10%;
height: 100%;

}
.box{
    position: relative;
align-items: center;
display: flex;
margin-left: .2em;
margin-right: .2em;
background-color:;
color: #685d5d;
border-radius: 50%;
width: 2em;
height: 2em;


}
.box1{
    position: relative;
    align-items: center;
    display: flex;
    margin-left: 3em;
    margin-right: 0em;
    background-color: gray;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    margin-top: 6em;
}
.icon{
    min-width: 1em;
    height: 1em;
    margin-left: 5px;
    display: flex;
   
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
   
	
}
.icon>a{
color: #fff;

}
.search-nav{
width: 80%;
margin-left: 0%;
margin-right: 10%;
direction: rtl;
    background-color: #e3e5e9;
    height: 100%;
    border: aliceblue;
    border-radius: 10%;
    margin-top: 4em;

}
.logo{
    width:60%;
    height: 70%;
    margin-top: 10em;

}

.ph{
    padding-left:.3rem;
   padding-right:.3rem;
}
.nav {
    display: grid;
    grid-template-columns: 100% 70%;
    
    width: 100%;
    
    text-align: center;
    font-size: 1rem;
    margin-top: 0px;
    align-items: center;
    height: 2rem;
   

}
.iconn{
    float: left;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    padding-top: 0.5rem;
    font-size: 1.5rem;
}
.im{
   border-radius: 10px;  
   padding-right: .3rem; 
   float: right;
   width: 80%;
margin-left: 0%;
margin-right: 10%;
}

.icon > sub {
    font-size:  16px;
    align-self: flex-end;
    color: rgb(178, 182, 178);
    
}
.wrapper {
    display: flex;
    flex-direction: row;
    
   
}
.wrapper > div> p{
    align-items: center;
}
.wrapper > div {
   
   
    width: 50%;
}
.nav-div{
    border:1px solid #000;
    background: #e3e5e9;
}

.wrapper > div >a {
    text-decoration: none;
    color:  var(--text-color);
    padding: 0px;
}


.earch-div{
    background-color: #f9fafc;
    width: 100%;
    height: 20%;
}

.foter-content{
    display: flex;
    flex-direction: row;
     background-color: #333333;
    color: honeydew;
    
}
.bor{
    border-bottom: 1px solid #fff ; 
    border-top: 1px solid #fff;
    margin: 1em;
}

.foter-content > div> p{
    align-items: center;
}
.foter-content > div {
   
   
    width: 50%;
}


.foter-content > div >a {
    text-decoration: none;
    color:  var(--text-color);
    padding: 0px;
}
footer{
    margin-top: 30em;
}
.footer-section2{

    width: 100%;
     height: 90%; 
     margin-top: 22%;
      background-color: #e6e6e6;
      display: flex;
      flex-direction: columns;
      

}
.fo-box{
    background-color: #e6e6e6;
     width:; 
     height: 40%;
     margin-left:1em ;
     margin-right: 15em;
     margin-top: 3em;

}
.p-foter{
    width: 150%;
}
.form-fo{
    display: flex;
    flex-direction: column;
    background-color: #484848;
    margin-top: 1em;
}
.fo-input{

    margin-top: 7em;
}
.soial{
display: flex;
flex-direction: row;
margin-bottom: 1em;
margin-left:1.5em ;

}

.slider{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    
    width: 100%;
        height: 50vh;
       
       
       
    }
    .slider >div{
   
    width: 100%;
    height: 100%;
    position: absolute;
    
    
    
    
    }
    .slid-sub-div{
   
    }

.z1{
   position: absolute;
    width: 100%;
    height: 20%;
     margin-left: 30%;



animation-name:animate ;
animation-delay:9s;
animation-duration: 3s;
animation-iteration-count: 1;
animation-fill-mode:forwards;
animation-direction: alternate;
animation-timing-function: ease-in-out;



}
img{
    width: 100%;
}
.z2{
    position: absolute;
    width: 100%;
    height: 80%;
    margin-left: 30%;
  


animation-name:animate;
animation-duration: 3s;
animation-iteration-count: 1;
animation-delay: 4s;
animation-fill-mode:forwards;
animation-direction: alternate;
animation-timing-function: ease-in-out;

}
.z1>img{
    width: 50%;
}
.z2>img{
    width: 50%;
}
.z3>img{
    width: 50%;
}
.z3{
    position: absolute;
     width: 100%;
     height: 20%;
margin-left: 30%;
 
 
 
 animation-name:animate ;
 animation-delay:;
 animation-duration: 3s;
 animation-iteration-count: 1;
 animation-fill-mode:forwards;
 animation-direction: alternate;
 animation-timing-function: ease-in-out;
 
 
 
 }
@keyframes animate{
from{
left:2%


}
to{
left:-100%


}}

.show-now{

    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    margin-left:  2%;
    margin-top: 1em;
    

}
.show-now>h2{
position: absolute;
right: 10%;

}
.show-now >div{
width: 20%;
height: auto;
background-color: ;
display: flex;
flex-direction: column;
margin: 4%;

box-shadow: #f9fafc;

align-items: center;
box-shadow: 0 10px 10px #999;

}
.show-now >div >p{
 margin: .3em;


}

.show-icon-div{
    display: flex;
    flex-direction: row;
    padding: .3em;
}

.book-icon{
    display: flex;
    flex-direction: row;
}
.book-icon>h3{
    color: #685d5d;
}
.book-title{

    font-size: .9em;
    color: #a59d9d;
}
.salry{
    color: rgb(189, 8, 8);
    padding: 1%;
}
.box-show{
    background-color: rgb(189, 8, 8);
    position: relative;
align-items: center;
display: flex;
margin-left: .2em;
margin-right: .2em;


border-radius: 50%;
width: 2em;
height: 2em;
}
.timer{
    display: flex;
    flex-direction: row;
    color: rgb(189, 8, 8);

}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.model{
    background: rgb(248, 243, 243);
    width: 30vw;
    height: 30vh;
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
   
    
}.model-content{
    width: 60%;
    height: 70vh;
    background-color: rgb(220, 235, 226);
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 20%;
   position: absolute;
   visibility: hidden;
}
.model-content >h2{
margin-left: 45%;
padding-top: 2em;

}
.model-content > form{
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(223, 217, 228);
    width: 60%;
    margin-left: 20%;

}

.model-content > form > input{
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    
    border:none;
    width: 80%;
   height: 10vh;
   margin: .5em;
direction: rtl;
padding: 1em;
box-shadow: rgb(223, 217, 228);

}
.submit{
    background:rgb(192, 15, 15);
    color: #fff;
    font-size: 1.5em;
}



.model-content2{
    width: 60%;
    height: auto;
    background-color: rgb(210, 223, 216);
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 20%;
    position: absolute;
   visibility: hidden;
}
.model-content2 >h2{
margin-left: 45%;
padding-top: 2em;

}
.model-content2 > form{
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(223, 217, 228);
    width: 60%;
    margin-left: 20%;

}

.model-content2 > form > input{
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    
    border:none;
    width: 80%;
   height: 10vh;
   margin: .5em;
direction: rtl;
padding: 1em;
box-shadow: rgb(223, 217, 228);

}
.book-show{
    padding: 0.3em;
   
}
.book-show-head{
    width: 80%;
margin-left: 3em;
}